[Desktop Entry]
Name=Shadowsocks Face
Comment=Shadowsocks client GUI
Exec=ss-face
Icon=ss-face
Terminal=false
Type=Application
Categories=Network;
StartupNotify=true
